@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Pet Stop</h1>
    <h2>Your one stop shop need for pets</h2>
    <img src="~/NewFolder/HomePageLogo.jpg"  class="home-page-image" />

</div>
